name: Run test task in Build File
on: [push]
jobs:
  my-job:
    name: Run MATLAB Build
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
      - name: Set up MATLAB
        uses: matlab-actions/setup-matlab@v2
        with:
          products: >
            MATLAB
            Deep_Learning_Toolbox
      - name: Run build
        uses: matlab-actions/run-build@v2
      - name: Upload results artifact
        uses: actions/upload-artifact@v4
        if: always()
        with:
            name: test-results
            path: test-results/results.xml       
      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: (!cancelled())
        with:
            files: |
                test-results/results.xml
